<h2 class="header">{{title}}</h2>

{{!-- <p class="marine">Welcome to {{title}}</p> --}}

<div class="message">  {{{ message }}}  </div>

<input  id="b1">

<button onclick="log('logg')">logg</button>
<button onclick="append_row()">append_row</button>
<button onclick="insert_row()">insert_row</button>
<button onclick="delete_row()">delete_row</button>


{{!-- <table id="test_table">
  <tbody>
    <tr>
      <td>xcvb0</td>
      <td>xcvb2</td>
    </tr>
    <tr>
      <td>xcvb0</td>
      <td>xcvb2</td>
    </tr>
    <tr>
      <td>xcvb0</td>
      <td>xcvb2</td>
    </tr>
  </tbody>
</table> --}}
<br>
  <div>
    <textarea id="log">
    </textarea>
  </div>


<script> 


before_delete = function (current_row) {
  log('before_delete 2> ' + JSON.stringify(current_row));

    log('current_row.cells.length = '+current_row.cells.length);

  let s = 'Удаляется строка - ';
  for(let i = 0; i < current_row.cells.length; i++) {
    s += current_row.cells[i].innerHTML + '|';
    //log(current_row.cells[i].innerHTML);
  }
  log(s);
  //throw new Error("Can not delete!");
}


edit_table('table1');


{{!-- *********************** Дальше неважно что ******************************** --}}


  //alert("index - {{title}} ");
  //alert("index - " + {{title}});

  //localStorage.setItem('test', 1); 
  //alert( JSON.stringify(localStorage) );
  //alert( JSON.stringify(sessionStorage) );






</script>
