
<div>
  Экранирование тегов, {{text}} две фигурных скобки<br>
	{{text}}
</div>
<div>
  Неэкранированные теги, три фигурных скобки<br>
	{{{text}}}
</div>


{{#with user}}
	{{name}} {{age}}
{{/with}}
<br>
 {{dt}}